In [2]:
import pandas as pd

# File to Load (Remember to change the path if needed.)
vine_data_load = "vine_table.csv"
vine_data_df = pd.read_csv(vine_data_load)

/var/folders/6q/szyp8yh52fv25d1sd85bhvl80000gs/T/ipykernel_2410/1137827688.py:5: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  vine_data_df = pd.read_csv(vine_data_load)

In [3]:
vine_data_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3W4P9UBGNGH1U,2,1.0,3.0,N,Y
1,R15V54KBMTQWAY,4,0.0,0.0,N,N
2,RY8I449HNXSVF,5,0.0,0.0,N,Y
3,R18TLJYCKJFLSR,5,0.0,0.0,N,Y
4,R1NK26SWS53B8Q,5,0.0,0.0,N,Y
...,...,...,...,...,...,...
9002016,R3ZKCWKG4097P,4,12.0,12.0,N,N
9002017,R2D0X18EHNKEOJ,5,10.0,13.0,N,N
9002018,R292SJRN80H8OQ,4,1.0,6.0,N,N
9002019,R3HA5IXDCVJ65K,5,24.0,25.0,N,N
9002020,R3T0HNHSZUC0ZW,4,15.0,15.0,N,N

In [4]:
total_votes_df = vine_data_df[vine_data_df["total_votes"] >= 20]
total_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
116,R2WOW0TURNXB26,3,54.0,59.0,N,Y
197,R13VL62Y2HBQ0B,5,15.0,21.0,N,Y
307,R22G55KAPZKJQV,4,20.0,21.0,N,Y
1012,R1610PGTJS7G3N,2,28.0,44.0,N,Y
2265,RLQL04BL0QXOJ,4,45.0,47.0,N,Y
...,...,...,...,...,...,...
9002011,RT1VF6PGA6Q13,5,30.0,32.0,N,N
9002012,R3IP9GXD7NYPYR,5,22.0,22.0,N,N
9002013,R344669W03QZ47,4,35.0,37.0,N,N
9002015,R395SO3AVL1RRC,5,72.0,74.0,N,N
9002019,R3HA5IXDCVJ65K,5,24.0,25.0,N,N

In [6]:
helpful_votes_df = total_votes_df[total_votes_df["helpful_votes"]/total_votes_df["total_votes"] >= 0.5]
helpful_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
116,R2WOW0TURNXB26,3,54.0,59.0,N,Y
197,R13VL62Y2HBQ0B,5,15.0,21.0,N,Y
307,R22G55KAPZKJQV,4,20.0,21.0,N,Y
1012,R1610PGTJS7G3N,2,28.0,44.0,N,Y
2265,RLQL04BL0QXOJ,4,45.0,47.0,N,Y
...,...,...,...,...,...,...
9002011,RT1VF6PGA6Q13,5,30.0,32.0,N,N
9002012,R3IP9GXD7NYPYR,5,22.0,22.0,N,N
9002013,R344669W03QZ47,4,35.0,37.0,N,N
9002015,R395SO3AVL1RRC,5,72.0,74.0,N,N
9002019,R3HA5IXDCVJ65K,5,24.0,25.0,N,N

In [8]:
paid_votes_df = helpful_votes_df[helpful_votes_df["vine"] == 'Y']
paid_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
7585,R1MAOLI5FJHAFM,4,249.0,261.0,Y,N
13291,R9PYAUDIBJVEC,4,12.0,22.0,Y,N
23444,R6V9SHMMG5M8F,5,101.0,110.0,Y,N
38024,R37PVLT6ELL5J4,4,181.0,209.0,Y,N
88492,R2FSFGWZF24V9,4,50.0,51.0,Y,N
...,...,...,...,...,...,...
8887352,R1S2HIHNB0FJC0,2.0,180.0,196.0,Y,N
8887434,R3ADVLGTBP0TNX,4.0,36.0,43.0,Y,N
8910450,R9OB51UW8R4EW,3.0,13.0,23.0,Y,N
8912079,R3OT72XT5WKCYN,5.0,27.0,40.0,Y,N
8912399,R2Y9JUXDM65FZW,2.0,17.0,30.0,Y,N

In [9]:
unpaid_votes_df = helpful_votes_df[helpful_votes_df["vine"] == 'N']
unpaid_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
116,R2WOW0TURNXB26,3,54.0,59.0,N,Y
197,R13VL62Y2HBQ0B,5,15.0,21.0,N,Y
307,R22G55KAPZKJQV,4,20.0,21.0,N,Y
1012,R1610PGTJS7G3N,2,28.0,44.0,N,Y
2265,RLQL04BL0QXOJ,4,45.0,47.0,N,Y
...,...,...,...,...,...,...
9002011,RT1VF6PGA6Q13,5,30.0,32.0,N,N
9002012,R3IP9GXD7NYPYR,5,22.0,22.0,N,N
9002013,R344669W03QZ47,4,35.0,37.0,N,N
9002015,R395SO3AVL1RRC,5,72.0,74.0,N,N
9002019,R3HA5IXDCVJ65K,5,24.0,25.0,N,N

In [10]:
#total paid reviews
paid_votes_df.count()

review_id            613
star_rating          613
helpful_votes        613
total_votes          613
vine                 613
verified_purchase    613
dtype: int64

In [17]:
#paid 5 star reviews and percentage of 5 star reviews
paid_five_star_votes_df = paid_votes_df[paid_votes_df["star_rating"] == 5]
paid_five_star_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
23444,R6V9SHMMG5M8F,5,101.0,110.0,Y,N
193753,R3SRW1E8J56IGV,5,262.0,281.0,Y,N
229126,R2WBPX441TH495,5,202.0,221.0,Y,N
238470,R2BYBSYHS66ZN8,5,109.0,114.0,Y,N
261805,R2IXC6U7W4OCQ9,5,185.0,201.0,Y,N
...,...,...,...,...,...,...
8819534,RLIMMC9RD6G6O,5.0,415.0,423.0,Y,N
8819775,RVKT49SXK12LV,5.0,377.0,387.0,Y,N
8880631,R28IX4P4PWVELW,5.0,42.0,47.0,Y,N
8885687,R1M4QZ4UUNG55D,5.0,141.0,155.0,Y,Y
8912079,R3OT72XT5WKCYN,5.0,27.0,40.0,Y,N

In [20]:
# Percentage of paid rating
percentage_of_paid_rating_df = 100*paid_five_star_votes_df.count()["review_id"]/paid_votes_df.count()["review_id"]
percentage_of_paid_rating_df

32.62642740619902

In [21]:
#total unpaid reviews
unpaid_votes_df.count()

review_id            64968
star_rating          64968
helpful_votes        64968
total_votes          64968
vine                 64968
verified_purchase    64968
dtype: int64

In [22]:
#unpaid 5 star reviews and percentage of 5 star reviews
unpaid_five_star_votes_df = unpaid_votes_df[unpaid_votes_df["star_rating"] == 5]
unpaid_five_star_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
197,R13VL62Y2HBQ0B,5,15.0,21.0,N,Y
3007,R111DJA10Y6CMU,5,26.0,39.0,N,Y
3164,R2EE2TR4MRDV0U,5,53.0,59.0,N,Y
3368,RD4A80I5JDHED,5,69.0,77.0,N,N
5049,R1D3NR5GREEXXJ,5,57.0,58.0,N,Y
...,...,...,...,...,...,...
9002010,R2S6WDAGBSXI09,5,57.0,58.0,N,N
9002011,RT1VF6PGA6Q13,5,30.0,32.0,N,N
9002012,R3IP9GXD7NYPYR,5,22.0,22.0,N,N
9002015,R395SO3AVL1RRC,5,72.0,74.0,N,N
9002019,R3HA5IXDCVJ65K,5,24.0,25.0,N,N

In [23]:
# Percentage of unpaid rating
percentage_of_unpaid_rating_df = 100*unpaid_five_star_votes_df.count()["review_id"]/unpaid_votes_df.count()["review_id"]
percentage_of_unpaid_rating_df

44.39416328038419